.mainlogo{
	padding:20px;
	max-width: 80%;
}

.weather-container{
	max-width: 300px;
}

.weather-left-button{
	float:left;
}

.weather-right-button{
	float:right;
}

.weather-icon{
	clear:both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 1em;
}

.resort-icon{
	display: block;
	float:right;
	padding: 0.1em 0.1em;
	max-height: 40px;
}

body:after {
  content: 'global';
  display: none;
}

.ui-accordion .ui-accordion-content {
	padding: 1em 1em;
}

.ui-tabs .ui-tabs-panel {
	padding: 0.5em 0.75em;
	
}

.ui-tabs .ui-tabs-nav li a {
	padding: 0.25em 0.4em;
}